## LIMPIEZA DEL DATASET!!!!!

El conjunto de datos resume las mejores películas de un período de 1920-2000, uno de los "períodos dorados" de las películas de Hollywood. Los datos se pueden utilizar para realizar un análisis de datos exploratorio sobre la filmografía de Hollywood y para identificar el patrón de cómo se han desarrollado los géneros de películas a lo largo de los años. También presenta los mejores miembros del reparto: actores, actrices y directores y la popularidad.

Contenido
Año: el año en que se estrenó la película.
Duración- La duración de la película en minutos
Título- Nombre del tema de la película-
Género del actor de la película-
Nombre del actor principal en la actriz de la película-
Nombre de la actriz principal en el
director de la película- Nombre del director de la película
Popularidad: métricas para identificar la popularidad de los
premios cinematográficos: si la película ha sido nominada / premiada con reconocimientos globales.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MovieDataset.csv",encoding = "ISO-8859-1") #ABRIMOS EL DATA SET CUALQUIERA REFERENTE A PELICULAS

In [3]:
df.info() #compruebo lo primero la información de esta tabla, y veo que me interesan todas las columnas. No necesito 
            #quitar ninguna,y además el tipo de dato de cada columna se corresponde con la realidad, estan todas correctas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        1659 non-null   int64
 1   Length      1592 non-null   float64
 2   Title       1659 non-null   object
 3   Subject     1657 non-null   object
 4   Actor       1651 non-null   object
 5   Actress     1281 non-null   object
 6   Director    1406 non-null   object
 7   Popularity  1646 non-null   float64
 8   Awards      1652 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 116.8+ KB

In [4]:
#Lo sigiente que vamos a hacer es eliminar las filas donde el titulo esté duplicado ya que no serviría de mucho para
#nuestro posterior analisis.
df = df.drop_duplicates("Title",keep = 'last')

In [5]:
df.info() # comprobamos que con el data original se borraron 4 filas donde el título se repetía.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655 entries, 0 to 1658
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        1655 non-null   int64
 1   Length      1588 non-null   float64
 2   Title       1655 non-null   object
 3   Subject     1653 non-null   object
 4   Actor       1647 non-null   object
 5   Actress     1277 non-null   object
 6   Director    1404 non-null   object
 7   Popularity  1642 non-null   float64
 8   Awards      1648 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 129.3+ KB

In [6]:
df["Awards"].value_counts() #Comprobamos también en la columna de Awards que no hay ningún dato extraño

No     1488
Yes     160
Name: Awards, dtype: int64

¡Vamos a trabajar con nuestros directores preferidos! Por lo tanto, vamos a comprobar en la columna de director, los directores unicos que hay en este data set para seleccionar solo las filas donde se encuentren los que elijamos.

In [7]:
#print(set(df['Director']))

In [8]:
#Una vez elegidos los directores que queremos, vamos a reducir nuestro data set.
directores = df[(df["Director"] == "Ford John") | (df["Director"] == "Cameron James") 
                | (df["Director"] == "Hitchcock Alfred") | (df["Director"] == "Hitchcock Alfred") 
                | (df["Director"] == "Fellini Federico") | (df["Director"] == "Almodóvar Pedro")
                | (df["Director"] == "De Palma Brian")   | (df["Director"] == "Coppola Francis Ford")
                | (df["Director"] == "Leone Sergio")     | (df["Director"] == "Spielberg Steven")
                | (df["Director"] == "Eastwood Clint")   | (df["Director"] == "Allen Woody")
                | (df["Director"] == "Kubrick Stanley")  | (df["Director"] == "Scorsese Martin")]

In [9]:
print(directores.isnull().sum()) #comprobamos que solo hay valores nulos en la columna lenght y en la de Actress
                                 #asique rellenaremos esos campos posteriormente con la información de las Apis.

Year           0
Length         4
Title          0
Subject        0
Actor          0
Actress       22
Director       0
Popularity     0
Awards         0
dtype: int64

In [11]:
#Queremos rellenar los valores nulos primero con ceros para que despues podamos cambiar el tipo de dato de float, a int
directores["Length"].fillna(0,inplace = True)
directores["Length"] = directores["Length"].astype(int)

<ipython-input-11-b0c6645ce7d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  directores["Length"] = directores["Length"].astype(int)

In [34]:
#directores["Year"].value_counts()
#directores["Length"].value_counts()
#directores["Popularity"].value_counts()

#EVALUAMOS SI NO HAY VALORES DE 0 EN LAS COLUMNAS QUE DEBAN TENER NUMEROS DIFERENTES A 0
# PARA SABER SI HAY QUE RELLENARLOS CON DATOS TAMBIÉN.

In [52]:
set(directores["Subject"]) #Comprobamos que se repite Westerns y Western asique lo dejaremos en Western para que no haya 
#problemas en nuestro analisis.
directores.Subject = directores.Subject.replace({"Westerns": "Western"}) #¿Mejor no?
#Hemos hecho lo mismo con las otras columnas y parece que los datos estan todos correctos.

In [57]:
directores

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards
0,1990,111,Tie Me Up! Tie Me Down!,Comedy,Banderas Antonio,Abril Victoria,Almodóvar Pedro,68.0,No
1,1991,113,High Heels,Comedy,Bosé Miguel,Abril Victoria,Almodóvar Pedro,68.0,No
17,1929,84,Blackmail,Mystery,Longden John,Algood Sara,Hitchcock Alfred,2.0,No
18,1963,109,Donovan's Reef,Comedy,Wayne John,Allen Elizabeth,Ford John,62.0,No
19,1988,110,Tucker: The Man & His Dream,Drama,Bridges Jeff,Allen Joan,Coppola Francis Ford,68.0,No
...,...,...,...,...,...,...,...,...,...
1383,1991,117,Full Metal Jacket,War,Modine Matthew,NaN,Kubrick Stanley,45.0,No
1408,1991,130,For a Few Dollars More,Western,Eastwood Clint,NaN,Leone Sergio,34.0,No
1483,1991,0,Raging Bull,Drama,De Niro Robert,NaN,Scorsese Martin,25.0,No
1492,1990,126,Indiana Jones & the Last Crusade,Action,Ford Harrison,NaN,Spielberg Steven,8.0,No
1493,1993,90,Duel,Mystery,Weaver Dennis,NaN,Spielberg Steven,48.0,No