## LIMPIEZA DEL DATASET!!!!!

El conjunto de datos resume las mejores películas de un período de 1920-2000, uno de los "períodos dorados" de las películas de Hollywood. Los datos se pueden utilizar para realizar un análisis de datos exploratorio sobre la filmografía de Hollywood y para identificar el patrón de cómo se han desarrollado los géneros de películas a lo largo de los años. También presenta los mejores miembros del reparto: actores, actrices y directores y la popularidad.

Contenido
Año: el año en que se estrenó la película.
Duración- La duración de la película en minutos
Título- Nombre del tema de la película-
Género del actor de la película-
Nombre del actor principal en la actriz de la película-
Nombre de la actriz principal en el
director de la película- Nombre del director de la película
Popularidad: métricas para identificar la popularidad de los
premios cinematográficos: si la película ha sido nominada / premiada con reconocimientos globales.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline

In [2]:
df = pd.read_csv("MovieDataset.csv",encoding = "ISO-8859-1") #ABRIMOS EL DATA SET CUALQUIERA REFERENTE A PELICULAS

In [16]:
df.info() #compruebo lo primero la información de esta tabla, y veo que me interesan todas las columnas. No necesito 
            #quitar ninguna,y además el tipo de dato de cada columna se corresponde con la realidad, estan todas correctas.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        0 non-null      int64
 1   Length      0 non-null      float64
 2   Title       0 non-null      object
 3   Subject     0 non-null      object
 4   Actor       0 non-null      object
 5   Actress     0 non-null      object
 6   Director    0 non-null      object
 7   Popularity  0 non-null      float64
 8   Awards      0 non-null      object
dtypes: float64(2), int64(1), object(6)
memory usage: 0.0+ bytes

In [17]:
#Lo sigiente que vamos a hacer es eliminar las filas donde el titulo esté duplicado ya que no serviría de mucho para
#nuestro posterior analisis.
df = df.drop_duplicates("Title",keep = 'last')

In [18]:
df.info() # comprobamos que con el data original se borraron 4 filas donde el título se repetía.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        0 non-null      int64
 1   Length      0 non-null      float64
 2   Title       0 non-null      object
 3   Subject     0 non-null      object
 4   Actor       0 non-null      object
 5   Actress     0 non-null      object
 6   Director    0 non-null      object
 7   Popularity  0 non-null      float64
 8   Awards      0 non-null      object
dtypes: float64(2), int64(1), object(6)
memory usage: 0.0+ bytes

In [19]:
df["Awards"].value_counts() #Comprobamos también en la columna de Awards que no hay ningún dato extraño

Series([], Name: Awards, dtype: int64)

¡Vamos a trabajar con nuestros directores preferidos! Por lo tanto, vamos a comprobar en la columna de director, los directores unicos que hay en este data set para seleccionar solo las filas donde se encuentren los que elijamos.

In [20]:
#print(set(df['Director']))

In [21]:
#Una vez elegidos los directores que queremos, vamos a reducir nuestro data set.
df

Empty DataFrame
Columns: [Year, Length, Title, Subject, Actor, Actress, Director, Popularity, Awards]
Index: []

In [13]:
df

Empty DataFrame
Columns: [Year, Length, Title, Subject, Actor, Actress, Director, Popularity, Awards]
Index: []